/*comment*/
body{
    background-color: #DDDDDD;
}

#controls {
    width: 300px;
    width: 300px;
    margin: 10px;
    position: absolute;
    z-index: 3000;
    background: #DDD none repeat scroll 0% 0%;
    padding: 10px;
    right: 0px;
}
#controls .text{
    float: left;
    width: 120px;
}
#controls .apply_button{
    float: right;
    margin-right: 18px;
    margin-top: 10px;
}
#controls .startstopbtncnt {
    margin-bottom: 16px;
}

#screen {
    float: left;
    width: 0px; /* auto-adjusted to browser window size */
    height: 0px; /* auto-adjusted to browser window size */
    /*background: url('pics/bck.jpg');*/
    background: #250e28;
    left: 0px;
    top: 0px;
    position: absolute;
}
#lattice_layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px; /* auto-adjusted to browser window size */
    height: 0px; /* auto-adjusted to browser window size */    
    background: url('pics/grid_199x199.png');
    background-repeat: repeat;
    z-index: 4;
    opacity: 0.6; 
}
#paralax1_layer {
    position: absolute;
    z-index: 2;
    overflow: hidden;
}
#paralax2_layer {
    position: absolute;
    z-index: 3;
    overflow: hidden;
}
#click_layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px; /* auto-adjusted to browser window size */
    height: 0px; /* auto-adjusted to browser window size */
    background: none;
    z-index: 1000;
}

.obj {
    position: absolute;
    z-index: 5;
}
.healthbar {
    position: absolute;
    z-index: 5;
}
.healthbar, .healthbar.meteor{
    position: absolute;
    width: 27px; 
    height: 2px;   
}

.healthbar.red.meteor{
    /* for widht and height see meteor's draw parameters */    
}

.healthbar.red{        
    z-index: 3;
    border: 1px solid #5A534D;
    border-radius: 2px;
    width: 40px;
}
.healthbar.green{    
    background: green;
 
}

.bullet.cruiser{
    /* for widht and height see bullet's draw parameters */  
    background: url('pics/bullet_cruiser2_mini.png');
}

.meteor{   
    position: absolute;
    background: url('pics/meteor.png');
}

.animation{   
    z-index: 50;
}

.shipbubble{
    position: absolute;
    width: 42px; 
    height: 42px;
    background: white;
    border-radius: 42px;
    z-index: 30;
    overflow: hidden;
}

/*temp lines*/
#clickPointer{
    position: absolute;
    width: 5px; 
    height: 5px;
    background-image: url('pics/pointer.png');
}

.swarm.centerpoint{
     position: absolute;
     background-image: url('pics/center.png');
     width: 6px;
     height: 6px;
     z-index: 11;
}
#horisontal_worldend_layer,  #vertical_worldend_layer{
    /*position: absolute;
    z-index: 100;
    background: black;
    opacity: 0.5;*/
    position: absolute;
    z-index: 100;    
    opacity: 0.5;
    border: 4px;
    border-style: dashed;
    /*border-color: #00D2FF;*/
    border-color: red;
}


#minimap, #minimap_bck{
    position: absolute;
    left: 30px; 
    bottom: 20px;     
    z-index: 300;    
    overflow: hidden;
    display: none;
}
.swarm.mini {
    position: absolute;
    width: 3px; 
    height: 3px; 
    background: red;   
    z-index: 300;
}
.swarm.sightrange.mini {
    position: absolute;
    background: white;   
    z-index: 299;
    opacity: 0.1;  
}
.meteor.mini {
    position: absolute;
    width: 5px; 
    height: 5px;
    background: white;   
    z-index: 300;
}
.paralax_obj{
    position: absolute;
}
.paralax_obj.layer1 {
    z-index: 2;
}
.paralax_obj.layer2 {
    z-index: 3;
}
.paralax_obj.layer1.type1{    
    background: url('pics/paralax/layer1/1_977x687.png');
}
.paralax_obj.layer1.type2{    
    background: url('pics/paralax/layer1/2_977x687.png');
}
.paralax_obj.layer2.type1{    
    background: url('pics/paralax/layer2/1_977x687.png');
}
.paralax_obj.layer2.type2{    
    background: url('pics/paralax/layer2/2_977x687.png');
}

#screenflash_layer{
    position: absolute;
    opacity: 1;
    z-index: 999;
}

/*menus*/
#startmenu {
    font-family: 'Noto Sans', sans-serif;
    color: #00d2ff;
    font-size: 12px;
    position: absolute;
    width: 765px;
    height: 670px;
    margin-top: 100px;
    z-index: 10000;
}
#startmenu .shipbrickcontainer {
    width: 760px;
    height: 144px;    
}
#startmenu .shipbrick {
    background: url('pics/menu/small_ship_brick.png');
    width: 70px;
    height: 72px;
    float: left;
    margin: 3px;
    cursor: pointer;
}
#startmenu .shipbrick .pic{        
    z-index: 11000;
    width: 32px;
    height: 32px;
    margin: 18px;
}
#startmenu .middlecontainer {    
    height: 210px;       
    padding-left: 113px;    
}

#startmenu .shipcircle {
    background: url('pics/menu/big_ship_circle.png');
    width: 131px;
    height: 131px;
    float: left;
    margin: 3px;
    margin: 23px;
    cursor: pointer;
}
#startmenu .shipcircle.selected{
    position: absolute;
    display: none;
    background: url('pics/menu/big_ship_circle_selected.png');
    width: 157px;
    height: 131px;
    z-index: 11000;
}

#startmenu .shipcirclepic{
    width: 100px;
    height: 100px;    
    margin: 15px;
    display: none;    
}


#startmenu .shipcircleclick{
    margin-top: 47px;
    margin-left: 39px;
    font-size: 24px;
    font-weight: 800;
}
#startmenu .topborder{
    width: 570px;
    height: 160px;    
    left: 90px;
    /*border-top: 2px solid #00d2ff;*/
    border-bottom: 2px solid #00d2ff;
    position: absolute;
    opacity: 0.25;   
}
#startmenu .topbordercorner .corner{
    position: absolute;
    width: 13px;
    height: 14px;   
}
#startmenu .topbordercorner .corner.right.up{
    background: url('pics/menu/corner_right_up.png');
    top: -1px;
    right: 92px;
}
#startmenu .topbordercorner .corner.right.down{
    background: url('pics/menu/corner_right_down.png');
    top: 148px;
    right: 92px;    
}
#startmenu .topbordercorner .corner.left.up{
    background: url('pics/menu/corner_left_up.png');    
    top: -1px;
    left: 78px;
}
#startmenu .topbordercorner .corner.left.down{
    background: url('pics/menu/corner_left_down.png');
    top: 149px;
    left: 78px;
}
#startmenu .namecontainer{
    float: left;        
    margin-top: -24px;
    margin-left: 90px;
}
#startmenu .name{
    text-transform: uppercase;
    font-size: 36px;
    float: left;
    font-weight: 800;
    margin-left: 10px;
    margin-right: 10px;
}
#startmenu .line{
    float: left;
    width: 100px;
    height: 2px;
    background: #00d2ff;
    margin-top: 24px;
    opacity: 0.25;
}
    

#startmenu .topcontainer{
    width: 596px;
    height: 160px;
    margin-left: 110px;
    margin-top: 35px; 
}

#startmenu .content{
    float: left;
    height: 90px;
}
#startmenu .stats.left{
    width: 200px;
}
#startmenu .stat{
    width: 90px;
    height: 24px;
    float: left;    
    margin: 4px;
    margin-right: 10px;
    margin-left: 0px;
}
#startmenu .stat .sep{
    background: url('pics/menu/parameter_separator.png');
    width: 90px;
    height: 2px;
    position: relative;
    top: 18px;    
}
#startmenu .description{
    float: left;
    height: 90px;
    width: 311px;
    margin-left: 20px;
    text-align: justify;
}
#startmenu .brick, #startmenu .darkbrick{
    width: 9px;
    height: 13px;
    background-color: #00d2ff;
    border-radius: 3px;
    float: left;
    margin-left: 1px;
    margin-right: 1px;    
}
#startmenu .brick{
    display: none;    
}
#startmenu .darkbrick{   
    opacity: 0.25;    
}
#startmenu .statbricks{
    float: right;
}
#startmenu .statname{
    float: left;
}

#startmenu .startbutton-cont{
    float: left;
    width: 760px;
    height: 70px;        
    margin-top: 10px;
    cursor: pointer;
    display: none;
}
#startmenu .startbutton-bck{
    float: left;
    width: 760px;
    height: 70px;
    background-color: #00d2ff;
    opacity: 0.3;
    border-radius: 7px;
    background-color: #00d2ff;
}
#startmenu .startbutton{
    color: #00d2ff;
    font-size: 30px;
    font-weight: 800;
    position: relative;
    width: 760px;
    height: 144px;
    text-align: center;
    top: -57px;
}

.raybeam { 
    /*border: 1px solid blue;*/
    border-radius: 3px;
    background: lightblue;
    opacity: 0.7;
}